.form-container {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-heading {
  font-weight: bold;
  margin-bottom: 2rem;
}

.form-section {
  margin-bottom: 2rem;
}

.form-section .MuiTypography-subtitle1 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.form-buttons .MuiButton-root {
  width: 100px;
}
